{{/* USAGE

    Add to page:
    
    {{ .Scratch.Set "divider-title" "my-title-variable" }}
    {{ partial "components/divider-title.html" . }}
        
*/}}

<div class="divider-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="divider-title__container">
                    <div class="divider-title__line"></div>
                    <h2 class="divider-title__title">
                        {{ .Scratch.Get "divider-title" }}
                    </h2>
                </div>
            </div>

        </div>

    </div>

</div>
