{{/* USAGE

    Add to page:
    
    {{ .Scratch.Set "ingress-title" "Title goes here" }}
    {{ partial "components/ingress.html" . }}
        
*/}}

<div class="paragraph paragraph-ingress">
    <div class="paragraph-ingress__container">
        <div class="row">
            <div class="col-lg-12">
                <p class="paragraph-ingress__ingress">
                    {{ .Scratch.Get "ingress-title" }}
                </p>
            </div>
        </div>
        {{ if ne .Section "arrangementarkiv"}}
        <div class="row">
            <div class="col-lg-12">
                <div class="paragraph-ingress__meta">
                    <label class="icon icon--date mr-4">{{ .Date.Format "02. Jan 2006" }}</label>

                    {{ if .Params.readtime }}
                    <label style="margin-left:20px;" class="icon icon--time">{{ .Params.readtime }}</label>
                    {{ end }}

                    {{ if .Params.author_id }}
                    <label style="margin-left:20px;" class="icon icon--contact">
                        <a style="color:#1e2b3c;" href="/forfatterer/{{.Params.author_id}}">
                            {{ $aid := .Params.author_id}}
                            {{range(where .Site.RegularPages "Section" "forfatterer") }}
                                {{if eq $aid .Params.author_id}}
                                    {{.Title}}
                                {{end}}
                            {{ end }}
                        </a>
                    </label>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        
    </div>
</div>