<div class="paragraph-arrangement-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--topics"></span>
                    <div class="content">
                        <p class="label">Emner:</p>
                        <p class="text">{{ .Params.topics }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--location"></span>
                    <div class="content">
                        <p class="label">Lokasjon:</p>
                        <p class="text">{{ .Params.location }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--date"></span>
                    <div class="content">
                        <p class="label">Dato:</p>
                        <p class="text">{{ .Date.Format "02. Jan 2006" }} </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--contact"></span>
                    <div class="content">
                        <p class="label">Kontakt:</p>
                        <p class="text">{{ .Params.contact }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--time"></span>
                    <div class="content">
                        <p class="label">Varighet:</p>
                        <p class="text">{{ .Params.duration }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="meta">
                    <span class="icon icon--circle icon--time"></span>
                    <div class="content">
                        <p class="label">Påmeldingsfrist for deltakelse:</p>
                        <p class="text">{{ .Params.deadline }}</p>
                    </div>
                </div>
            </div>
  
        </div>
        <div class="row mt-5">
        <!--    <div class="col-lg-6">
                <div class="mt-4">
                    {{ .Scratch.Set "button-title" "Påmelding" }}
                    {{ .Scratch.Set "button-href" .Params.registration }}
                    {{ .Scratch.Set "button-class" "button--primary" }}
                    {{ partial "components/button.html" . }}
                </div>
            </div> -->
            <div class="col-lg-6">
                <div class="mt-4">
                    {{ .Scratch.Set "button-title" "Vil du holde presentasjon?" }}
                    {{ .Scratch.Set "button-href" .Params.speakers }}
                    {{ .Scratch.Set "button-class" "button--primary" }}
                    {{ partial "components/button.html" . }}
                </div>
            </div>   
        </div>  
    </div>

   

</div>
