{{/* USAGE

    Add to page front-matter:
    
    blog:
        title: Title goes here
        button:
            title: Se alle blogginnlegg
        
*/}}

<section class="paragraph paragraph-teaser">
    <div class="container">
        {{ .Scratch.Set "divider-title" .Params.blog.title }}
        {{ partial "components/divider-title.html" . }}
        <div class="row">
            {{range first 3 (where .Site.RegularPages "Section" "bloggarkiv") }}
            <div class="paragraph-teaser__wrapper col-lg-6 col-xl-4">
                <article class="paragraph-teaser__container">
                    <a class="paragraph-teaser__link" href="{{ .Page.URL }}">
                        <img class="paragraph-teaser__image" src="{{ .Params.image }}"/>
                        <div class="paragraph-teaser__content">
                            <h3 class="paragraph-teaser__title">{{ .Params.title }}</h3>
                            <div class="meta mb-3">{{ .Params.date.Format "02. Jan 2006" }}</div>
                            <p class="paragraph-teaser__ingress">{{ .Params.ingress | truncate 140}}</p>
                        </div>
                    </a>
                </article>
            </div>
            {{ end }}
        </div>
    </div>

    {{ .Scratch.Set "divider-button-title" .Params.blog.button.title }}
    {{ .Scratch.Set "divider-button-href" $.Site.Data.Blogarchive.url }}
    {{ partial "components/divider-button.html" . }}

</section>