{{/* USAGE

    Add to page front-matter:
    
    news:
        title: Title goes here
        button:
            title: Se alle nyheter
        
*/}}

<section class="paragraph paragraph-teaser">
    <div class="container">
        {{ .Scratch.Set "divider-title" .Params.news.title }}
        {{ partial "components/divider-title.html" . }}
        <div class="row">
            {{range first 3 (where .Site.RegularPages "Section" "nyhetsarkiv") }}
            <div class="paragraph-teaser__wrapper col-lg-6 col-xl-4">
                <article class="paragraph-teaser__container">
                    <a class="paragraph-teaser__link" href="{{ .Page.URL }}">
                        <div class="paragraph-teaser__content">
                            <h3 class="paragraph-teaser__title">{{ .Params.title }}</h3>
                            <div class="paragraph-teaser__date">{{ .Params.date.Format "02. Jan 2006" }}</div>
                            <p class="paragraph-teaser__ingress">Lorem asdasd asdsad asd asd asd asd asd asd as das das d</p>
                        </div>
                    </a>
                </article>
            </div>
            {{ end }}
        </div>
    </div>

    {{ .Scratch.Set "divider-button-title" .Params.news.button.title }}
    {{ .Scratch.Set "divider-button-href" $.Site.Data.Newsarchive.url }}
    {{ partial "components/divider-button.html" . }}

</section>