{{/* USAGE

    Add to page front-matter or data:

    banner:
        heading: Title goes here
        intro: Intro text goes here
        image: Image path goes here

    Or Scratch:

    {{ .Scratch.Set "banner-heading" "Title goes here" }}
{{ .Scratch.Set "banner-intro" "Intro text goes here" }}
{{ .Scratch.Set "banner-image" "Image-path goes here" }}

*/}}

{{ if not .IsHome }}
    {{ partial "components/breadcrumb.html" . }}
{{ end }}

<section class="paragraph paragraph-banner">

    <div class="paragraph-banner__container">
        <div class="row align-items-center">
            <div class="col-md-12 
            {{ if or (.Params.banner.image) (.Scratch.Get "banner-image") }}
                col-lg-6 col-xl-6 
            {{end}}">
                <div class="paragraph-banner__content">
                    <h1>
                        {{ .Params.banner.heading }}
                        {{ .Scratch.Get "banner-heading" }}
                    </h1>

                    {{ if or (.Params.banner.intro) (.Scratch.Get "banner-intro")}}
                    <p>
                        {{ .Params.banner.intro }}
                        {{ .Scratch.Get "banner-intro" }}
                    </p>
                    {{ end }}

                    {{ if or (.Params.banner.button)}}
                    {{ .Scratch.Set "button-title" "Se kommende arrengement" }}
                    {{ .Scratch.Set "button-href" "Url goes here" }}
                    {{ partial "components/button.html" . }}
                    {{ end }}
                </div>
            </div>

            {{ if or (.Params.banner.image) (.Scratch.Get "banner-image") }}
            <div class="col">
                <div class="paragraph-banner__image">
                    <img src="{{ .Params.banner.image }}{{ .Scratch.Get "banner-image" }}" />
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>