{{/* USAGE

    Add to page front-matter:
    
    news:
        title: Title goes here
        
*/}}

<div class="paragraph paragraph-news">
    <div class="container">
        {{ .Scratch.Set "divider-title" .Params.news.title }}
        {{ partial "components/divider-title.html" . }}
        <div class="row mt-0 pt-0">
            {{range first 3 (where .Site.RegularPages "Section" "nyhet") }}
            <div class="col-lg-4">
                <article class="news-teaser">
                    <a class="news-teaser__link" href="{{ .Page.URL }}">
                        <h3 class="news-teaser__title">{{ .Params.title }}</h3>
                        <div class="news-teaser__date">{{ .Params.date.Format "02. Jan 2006" }}</div>
                        <p class="news-teaser__ingress">Lorem asdasd asdsad asd asd asd asd asd asd as das das d</p>
                    </a>
                </article>
                
            </div>
            {{ end }}
        </div>
    </div>
</div>