.paragraph-banner {
    background-color: $color-interface-interaction-light;

    .breadcrumb {
        @include largescreen(){
            margin-top: - $spacing-lg*2;
            padding-top:($spacing-lg - 0.25rem);
        }
    }

    &__container {
        @extend .container;
    }

    &__content {
        padding: 48px 0;
        
        p {
            margin:unset!important;
            padding:unset!important;
        }

        @include tablet(){
            padding: 24px 0;
        }
    }

    &__image {
        max-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            max-height:280px;
            height:auto;
            width: auto;
            max-width: 100%;
        }

    }
}