.paragraph-banner {
    background-color: $color-interface-interaction-light;

    .breadcrumb {
        padding-top:30px;
    }

    @include largescreen(){
        padding-top:$spacing-xl*2;
        padding-bottom:$spacing-xl*2; 
    }

    &__container {
        @extend .container;
    }

    &__content {
        padding:unset!important;
        @include tablet(){
            padding: 24px 0;
        }
    }

    &__image {
        max-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;


        img {
            max-height:280px;
            height:auto;
            width: auto;
            max-width: 100%;
        }

    }
}