.paragraph-arrangement-details {

    padding-top: $spacing-md*2;
    padding-bottom: $spacing-md*2;

    border-bottom: 1px solid $color-neutral-grey-200;

    @extend .paragraph-banner__container;

    .meta {
        display: flex;
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;

        .content {
            font-size: 1rem !important;

            p {
                margin: unset !important;
                padding: unset !important;
            }

            .label {
                color: black;
            }

            .text {
                color: $primary-text-color;
                font-weight: 200;
            }

        }



    }
}
