.paragraph-news {

    .col-lg-6,
    .col-xl-4 {
        &:not(:last-child) {
            margin-bottom: $spacing-lg;
        }
    }

    @include largescreen() {
        .col-lg-6,
        .col-xl-4 {
            margin-bottom: unset!important;
        }
    }


    .news-teaser {
        height: 100%;

        &__link {
            background-color: $color-neutral-grey-100;
            padding: 32px;
            display: block;
            color: $primary-text-color;
            text-decoration: none;
            border: 1px solid $color-neutral-grey-200;

            height: 100%;

            &:hover {
                color: $primary-text-color !important;
                background-color: $color-brand-third-100 !important;
                border-bottom: 1px solid $primary-text-color !important;
            }
        }

        &__title {
            font-size: $font-size-500;
            margin-top: unset;
            margin-bottom: 16px;
        }

        &__date {
            margin-top: 12px;
            margin-bottom: 16px;
            font-size: $font-size-200;
        }

        &__ingress {
            font-size: $font-size-300;
            margin: unset;
            padding: unset;
        }
    }
}