.paragraph {
    padding-top:$spacing-lg;
    padding-bottom:$spacing-lg;

    @include largescreen(){
        padding-top:$spacing-lg*2!important;
        padding-bottom:$spacing-lg*2!important; 
    }
}