.breadcrumb {

    margin-bottom: 0!important;
    padding-top:30px;

    ol, li {
        display:inline;
    }

    li:not(:last-child){
        &::after {
            font-size:18px!important;
            @include font-awsome("\f105");
            padding-left:5px;
            padding-right:5px;
        }
    }
    
    &__current,
    &__link {
        font-size: $font-size-300;
        line-height: 1.6;
        font-weight:400;
        letter-spacing: 0.1px;
    }

    &__current {
        a {
            color: $primary-text-color!important;
        }
    }

    &__link {
        color: #0051be;
        text-decoration: none;

        &:hover {
            color: $primary-text-color;
            border-bottom: 1px solid $color-brand-third-800;
        }


    }

}