.divider-title {

    margin-bottom:$spacing-lg;

    .container {
        padding:unset!important;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__line {
        height: 1px;
        background-color: $color-neutral-grey-400;
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
    }

    &__title {
        position: relative;
        background-color: white;
        padding: 0 40px;
        font-size:$font-size-700;
    }
}