.markdown {

    h1,
    h2,
    h3,
    h4 {
        margin-top:$spacing-sm*2.5;
    }

    h1 {
        font-size: $font-size-700;
    }

    h2 {
        font-size: $font-size-600;
    }

    h3 {
        font-size: $font-size-500;
    }

    p,ul {
        margin-bottom: $spacing-md;
    }

    li {
        margin-bottom: $spacing-xs;
    }

    blockquote {
        margin: 0 0 $spacing-md;
        background-color: #f4f5f6;
        padding: $spacing-lg;

        p,li, ul {
            &:last-child {
                margin-bottom:unset!important;
            }
        }
    }

}