.markdown {

    h1,
    h2,
    h3,
    h4 {
        margin-top: $spacing-md*2;
    }

    h1 {
        font-size: $font-size-700;
    }

    h2 {
        font-size: $font-size-600;
    }

    h3 {
        font-size: $font-size-500;
    }

    p {
        margin-bottom: $spacing-md;
    }

}