// SPACING
$spacing-xl: $spacing-base-10;
$spacing-lg: $spacing-base-8;
$spacing-md: $spacing-base-6;
$spacing-sm: $spacing-base-4;
$spacing-xs: $spacing-base-1;

// COLORS
$primary-text-color: #1e2b3c;

$header-text-color: #000000;




$footer-bg-color: $color-text-background-light;