{{ define "main" }}

<div class="page__archive">

    {{ .Scratch.Set "banner-heading" $.Site.Data.Newsarchive.banner.heading }}
    {{ .Scratch.Set "banner-intro" $.Site.Data.Newsarchive.banner.intro }}
    {{ .Scratch.Set "banner-image" $.Site.Data.Newsarchive.banner.image }}
    {{ partial "paragraphs/banner.html" . }}

    <div class="paragraph paragraph-teaser">
        <div class="paragraph-teaser__list">
            <div class="row">

                {{ $paginator := .Paginate (where .Site.RegularPages "Section" "nyhetsarkiv") }}

                {{ range $paginator.Pages }}
                <div class="paragraph-teaser__wrapper col-lg-12">
                    <article class="paragraph-teaser__container">
                        <a class="paragraph-teaser__link" href="{{ .Page.URL }}">
                            <div class="paragraph-teaser__content">
                                <h3 class="paragraph-teaser__title">{{ .Params.title }}</h3>
                                <div class="paragraph-teaser__date">{{ .Params.date.Format "02. Jan 2006" }}</div>
                                <p class="paragraph-teaser__ingress">Lorem asdasd asdsad asd asd asd asd asd asd as das das d</p>
                            </div>
                        </a>
                    </article>
                </div>
                {{ end }}

                <div class="col">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>

        </div>
    </div>

</div>

</div>

{{ end }}