.header {
    padding-top: $spacing-base-8;
    padding-bottom: $spacing-base-8;
    border-bottom:1px solid $color-neutral-grey-200;

    font-size: $font-size-500!important;
    font-weight: 400;
    letter-spacing: 0.02px;

    &__icon {
        height:30px;
        margin-left:-1px;
        image-rendering: auto;         /* Firefox */
        image-rendering: auto;         /* Opera */
        image-rendering: auto;/* Webkit (non-standard naming) */
        image-rendering: auto;
        -ms-interpolation-mode: auto;  /* IE (non-standard property) */
    }

    &__title {
        a {
            @extend .navbar-brand;
            margin:unset;
            padding:unset;
        }

        p {
            margin:unset;
        }
    }

    .navigation {
        @extend .navbar;
        @extend .navbar-expand-lg;
        @extend .navbar-light;
    
        padding-top:0;
        padding-bottom:0;
    
        &__items {
            @extend .navbar-collapse;
            @extend .flex-row-reverse;
    
            .nav-link {
                font-size: $font-size-500!important;
                color: $header-text-color!important;
                padding-top:unset;
                padding-bottom:unset;
            }
        }
    }
}