.header {
    padding-top: $spacing-base-8;
    padding-bottom: $spacing-base-8;
    border-bottom:1px solid $color-neutral-grey-200;

    font-size: $font-size-500!important;
    font-weight: 400;
    letter-spacing: 0.02px;

    &__icon {
        height:50px;
        margin-left:-1px;
    }

    &__title {
        a {
            @extend .navbar-brand;
            margin:unset;
        }

        p {
            margin:unset;
        }
    }
}