.navigation {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;

    &__items {
        @extend .navbar-collapse;
        @extend .flex-row-reverse;

        .nav-link {
            font-size: $font-size-500!important;
            padding-top:unset;
            padding-bottom:unset;
        }
    }
}