.page__archive {

    .breadcrumb,
    .paragraph-banner {
        background-color: $color-brand-second-200;
    }

    

    .paragraph-banner {

        &__container {
            max-width: 706px!important;
        }

        &__content {
            margin:unset!important;
            padding: 48px 0 0 0;
        }
    }

    &--wide {
        .paragraph-banner {

            &__container {
                max-width: 1050px!important;
            }
        }
    }
 
}