.page__article {

    .breadcrumb,
    .paragraph-banner {
        background-color: $color-brand-second-200;
    }
    
    .paragraph-banner {
        background-color: $color-brand-second-200;

        &__container {
            max-width: 735px!important;
        }

        &__content {
            padding: 48px 0 0 0;

            h1 {
                margin: unset!important;
            }
        }
    }

    .markdown__container {
        @extend .paragraph-banner__container;
    }

    .article__content {
        padding-top: $spacing-lg*2;
    }

    padding-bottom: $spacing-lg*2;

    &--wide {
        .paragraph-banner {
    
            &__container {
                max-width: 1050px!important;
            }
        } 

        .markdown__container {
            @extend .paragraph-banner__container;
        }
    }
}