{{ define "main" }}

<div class="page__archive page__archive--wide">

    <div class="paragraph paragraph-teaser">
        <div class="paragraph-teaser__list">
            <div class="row">
                {{ $counter := 0 }}

                {{ range (where .Site.RegularPages "Section" "arrangementarkiv").Reverse }}

                    {{ if eq .Params.done false }}
                    
                        <div class="paragraph-teaser__wrapper col-sm-12 col-md-6">
                            <article class="paragraph-teaser__container">
                                <a class="paragraph-teaser__link" href="{{ .Page.Permalink }}">
                                    <div class="icon icon--date mb-3 paragraph-teaser__date--big">{{ .Params.date.Format "02. Jan 2006" }}</div>
                                    <div class="paragraph-teaser__content paragraph-teaser__content--small-padding">
                                        <h2 class="paragraph-teaser__title">{{ .Params.title }}</h2>
                                        <p class="icon icon--location mb-3">{{ .Params.location }}</p>
                                        <p class="icon icon--topics mb-3">{{ .Params.topics }}</p>
                                    </div>
                                </a>
                            </article>
                        </div>
                        {{ $counter = add $counter 1 }}
                    
                    {{ end }}
                {{ end }}

                {{ if eq $counter 0 }}
                    <p>Vi har ingen kommende arrangementer...</p>
                {{ end }}

            </div>

        </div>
    </div>
</div>

</div>

{{ end }}