{{/* USAGE

  {{< accordion title="Heading">}}
      text
  {{< /accordion >}}

*/}}

{{ $random := delimit (shuffle (seq 1 25)) "" }}
<div class="accordion accordion-flush" id="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header mt-3" id="flush-heading">
      <button style="background-color: #faeec2!important;" class="accordion-button collapsed" type="button"
        data-bs-toggle="collapse" data-bs-target="#id-{{ $random }}" aria-expanded="false" aria-controls="#id-{{ $random }}">
        {{ .Get "title" }}
      </button>
    </h2>
    <div id="id-{{ $random }}" class="accordion-collapse collapse" aria-labelledby="flush-heading"
      data-bs-parent="#accordion">
      <div class="accordion-body">
        {{.Inner | markdownify }}
      </div>
    </div>
  </div>
</div>